body{
background-color: #202124;
color: #ffffff;
}
.heading {
   text-align: center;
   position: fixed;
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
            }

.footer {
   position: fixed;
   left: 0;
   bottom:0;
   width: 100%;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}
 /* unvisited link */
a:link {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    font-size: 40px;
  }
  
  /* visited link */
  a:visited {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    background-color: #00008B;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
  
  /* selected link */
  a:active {
    color: white;
    background-color: blue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
